/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  aspect-ratio: 1/1;
  width: 100%;
}

/* Header */
.title-header {
  background-image: url("./img/wall.png");
  text-align: center;
  align-content: center;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  font-weight: weight;
  font-style: oblique;
}


/* LAYOUT */
html {
  background-image: url("./img/cork.png");
  overflow: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
}

.row>* {
  padding: 0 10px;
}

.col-3 {
  width: calc(100% / 3);
}


/* Card */
.card {
  border: solid 1px;
  background-color: white;
  position: relative;
  height: 100%;
  cursor: pointer;
}

.card img {
  padding: 10px;
}

.card p {
  margin-left: 7px;
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: oblique;
}

.decoration-card {
  height: 40px;
  position: absolute;
  top: -20px;
  z-index: 1;
}


/* effetto hover */
.card:hover {
  transform: rotate(10deg);
  z-index: 1;
}

/* Classe aggiunta in js al click sulla card*/
.card.hovered {
  transform: scale(1.1);
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -857%);
  z-index: 100;
  font-size: 30px;
  cursor: pointer;
}

.container-cardBig {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  
}



/* Media queries */
/* Tablet */
@media (max-width:768px) {
  .col-3 {
    width: 50%;
  }
}

/* Mobile 480px */
@media (max-width: 480px) {

  .title-header {
    font-size: 20px;
  }

  .col-3 {
    width: 100%;
  }
}